In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
carbon_dioxide = pd.read_csv(
    "data/carbon_dioxide.csv",
    skiprows=4
)
carbon_dioxide.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.464392,4.295765,4.272413,4.665623,4.500539,4.711235,4.990215,5.002841,5.148386,NaN
1,Africa Eastern and Southern,AFE,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,1.025492,1.013008,0.998509,0.984697,0.897581,0.899170,0.858132,0.838104,0.837680,NaN
2,Afghanistan,AFG,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.219353,0.291328,0.321419,0.319753,0.310825,0.312157,0.278421,0.280995,0.282980,NaN
3,Africa Western and Central,AFW,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.513156,0.490151,0.506407,0.516134,0.498327,0.526349,0.521524,0.494008,0.502016,NaN
4,Angola,AGO,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,1.071676,0.925922,0.824810,0.833846,0.613970,0.740293,0.748811,0.743839,0.741712,NaN

In [30]:
carbon_dioxide.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='str')

In [31]:
carbon_dioxide.shape

(266, 70)

In [32]:
germany_co2 = carbon_dioxide[carbon_dioxide["Country Name"] == "Germany"]
germany_co2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
55,Germany,DEU,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,9.584234,9.369765,9.006578,8.38218,7.721033,8.061281,7.911829,7.079828,6.943957,NaN

In [ ]:
germany_co2.shape

In [34]:
renewables = pd.read_csv(
    "data/renewables.csv",
    skiprows=4
    )
renewables.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,6.800000,8.600000,8.300000,9.10000,8.8,8.8,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.822884,61.426950,61.587530,62.690710,65.78238,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.200000,19.500000,18.300000,18.900000,18.20000,20.0,20.0,NaN,NaN,NaN
3,Africa Western and Central,AFW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.796840,76.101681,75.476578,75.078788,75.84698,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,48.100000,52.500000,52.500000,51.000000,60.10000,52.9,NaN,NaN,NaN,NaN

In [35]:
renewables.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='str')

In [37]:
renewables.shape

(266, 70)

In [39]:
germany_renewables = renewables[renewables["Country Name"]== "Germany"]
germany_renewables.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
55,Germany,DEU,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.2,15.2,16.0,17.1,18.5,17.6,NaN,NaN,NaN,NaN

In [40]:
germany_renewables.shape

(1, 70)