In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
carbon_dioxide = pd.read_csv(
    "data/carbon_dioxide.csv",
    skiprows=4
)
carbon_dioxide.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.464392,4.295765,4.272413,4.665623,4.500539,4.711235,4.990215,5.002841,5.148386,NaN
1,Africa Eastern and Southern,AFE,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,1.025492,1.013008,0.998509,0.984697,0.897581,0.899170,0.858132,0.838104,0.837680,NaN
2,Afghanistan,AFG,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.219353,0.291328,0.321419,0.319753,0.310825,0.312157,0.278421,0.280995,0.282980,NaN
3,Africa Western and Central,AFW,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,0.513156,0.490151,0.506407,0.516134,0.498327,0.526349,0.521524,0.494008,0.502016,NaN
4,Angola,AGO,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,1.071676,0.925922,0.824810,0.833846,0.613970,0.740293,0.748811,0.743839,0.741712,NaN

In [4]:
carbon_dioxide.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='str')

In [5]:
carbon_dioxide.shape

(266, 70)

In [6]:
germany_co2 = carbon_dioxide[carbon_dioxide["Country Name"] == "Germany"]
germany_co2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
55,Germany,DEU,Carbon dioxide (CO2) emissions excluding LULUC...,EN.GHG.CO2.PC.CE.AR5,NaN,NaN,NaN,NaN,NaN,NaN,...,9.584234,9.369765,9.006578,8.38218,7.721033,8.061281,7.911829,7.079828,6.943957,NaN

In [7]:
germany_co2.shape

(1, 70)

In [8]:
renewables = pd.read_csv(
    "data/renewables.csv",
    skiprows=4
    )
renewables.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,6.800000,8.600000,8.300000,9.10000,8.8,8.8,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,61.822884,61.426950,61.587530,62.690710,65.78238,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.200000,19.500000,18.300000,18.900000,18.20000,20.0,20.0,NaN,NaN,NaN
3,Africa Western and Central,AFW,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.796840,76.101681,75.476578,75.078788,75.84698,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,48.100000,52.500000,52.500000,51.000000,60.10000,52.9,NaN,NaN,NaN,NaN

In [9]:
renewables.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='str')

In [10]:
renewables.shape

(266, 70)

In [11]:
germany_renewables = renewables[renewables["Country Name"]== "Germany"]
germany_renewables.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
55,Germany,DEU,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.2,15.2,16.0,17.1,18.5,17.6,NaN,NaN,NaN,NaN

In [12]:
germany_renewables.shape

(1, 70)

## Missing Data Check
Missing values were inspected using `isna()`.  
A small number of missing observations were found in early years,
which is common in World Bank climate datasets.
A small number of missing observations were found in very recent years too.
However thsi project will be focusing on the years 1990-2022

In [13]:
germany_co2.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              1
                 ..
2021              0
2022              0
2023              0
2024              0
Unnamed: 69       1
Length: 70, dtype: int64

In [14]:
germany_renewables.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              1
                 ..
2021              0
2022              1
2023              1
2024              1
Unnamed: 69       1
Length: 70, dtype: int64

In [15]:
years = [str(year) for year in range(1990, 2023)]

germany_co2_clean = germany_co2[
    ["Country Name", "Country Code"] + years
]

germany_renewables_clean = germany_renewables[
    ["Country Name", "Country Code"] + years
]

In [16]:
germany_co2_clean.isna().sum()

Country Name    0
Country Code    0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            0
dtype: int64

In [17]:
germany_renewables_clean.isna().sum()

Country Name    0
Country Code    0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
2021            0
2022            1
dtype: int64

Before reshaping, identifier columns are explicitly selected and renamed to standardized names to simplify downstream analysis and merging.

In [18]:
id_vars = ["Country Name", "Country Code"]
year_cols = [str(year) for year in range(1990, 2023)]

In [19]:
germany_co2_clean = germany_co2[id_vars + year_cols]

In [20]:
germany_co2_clean = germany_co2_clean.rename(columns={
    "Country Name": "country",
    "Country Code": "country_code"
})

In [21]:
germany_co2_clean.columns

Index(['country', 'country_code', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022'],
      dtype='str')

In [22]:
germany_co2_clean.shape

(1, 35)

In [23]:
germany_co2_long = germany_co2_clean.melt(
    id_vars=["country", "country_code"],
    var_name="year",
    value_name="co2_per_capita"
)

In [24]:
germany_co2_long["year"] = germany_co2_long["year"].astype(int)

In [25]:
germany_co2_long = germany_co2_long.sort_values("year")

In [26]:
germany_co2_long.shape

(33, 4)

In [27]:
germany_co2_long.head()

   country country_code  year  co2_per_capita
0  Germany          DEU  1990       12.749125
1  Germany          DEU  1991       12.394338
2  Germany          DEU  1992       11.631599
3  Germany          DEU  1993       11.451071
4  Germany          DEU  1994       11.238556

In [28]:
germany_co2_long.isna().sum()

country           0
country_code      0
year              0
co2_per_capita    0
dtype: int64

In [29]:
germany_renewables_clean = germany_renewables[id_vars + year_cols]

In [30]:
germany_renewables_clean = germany_renewables_clean.rename(columns={
    "Country Name": "country",
    "Country Code": "country_code"
})

In [31]:
germany_renewables_clean.columns

Index(['country', 'country_code', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022'],
      dtype='str')

In [33]:
germany_renewables_long = germany_renewables_clean.melt(
    id_vars=["country", "country_code"],
    var_name="year",
    value_name="renewable_energy_share"
)

In [38]:
germany_renewables_long["year"] = germany_renewables_long["year"].astype(int)

In [39]:
germany_renewables_long.shape

(33, 4)

In [40]:
germany_renewables_long.head()

   country country_code  year  renewable_energy_share
0  Germany          DEU  1990                     2.1
1  Germany          DEU  1991                     2.0
2  Germany          DEU  1992                     2.1
3  Germany          DEU  1993                     2.1
4  Germany          DEU  1994                     2.3

In [41]:
germany_energy = germany_co2_long.merge(
    germany_renewables_long,
    on="year",
    how="inner"
)

In [42]:
germany_energy.isna().sum()

country_x                 0
country_code_x            0
year                      0
co2_per_capita            0
country_y                 0
country_code_y            0
renewable_energy_share    1
dtype: int64

In [45]:
germany_energy = germany_energy.drop(
    columns=["country_y", "country_code_y"]
).rename(columns={
    "country_x": "country",
    "country_code_x": "country_code"
})

In [46]:
germany_energy.columns

Index(['country', 'country_code', 'year', 'co2_per_capita',
       'renewable_energy_share'],
      dtype='str')

After merging CO₂ and renewable energy data, a single missing observation
was identified in the renewable energy series. Given the small magnitude,
the affected year was removed to ensure a complete and consistent dataset.

In [47]:
germany_energy[germany_energy["renewable_energy_share"].isna()]

    country country_code  year  co2_per_capita  renewable_energy_share
32  Germany          DEU  2022        7.911829                     NaN

In [48]:
germany_energy = germany_energy.dropna()

In [52]:
germany_energy.head()

   country country_code  year  co2_per_capita  renewable_energy_share
0  Germany          DEU  1990       12.749125                     2.1
1  Germany          DEU  1991       12.394338                     2.0
2  Germany          DEU  1992       11.631599                     2.1
3  Germany          DEU  1993       11.451071                     2.1
4  Germany          DEU  1994       11.238556                     2.3